<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>caom2_web</display-name>

  <filter>
    <filter-name>AccessControlFilter</filter-name>
    <filter-class>ca.nrc.cadc.web.WebAccessControlFilter</filter-class>

    <init-param>
      <param-name>alwaysAugmentWithCredentials</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>AccessControlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>logControl</servlet-name>
    <servlet-class>ca.nrc.cadc.log.LogControlServlet</servlet-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>info</param-value>
    </init-param>
    <init-param>
      <param-name>logLevelPackages</param-name>
      <param-value>
        ca.nrc.cadc.caom2
        ca.nrc.cadc.net
      </param-value>
    </init-param>
    <init-param>
      <param-name>logAccessGroup</param-name>
      <param-value>ivo://cadc.nrc.ca/gms?CADC</param-value>
    </init-param>
    <init-param>
      <param-name>groupAuthorizer</param-name>
      <param-value>ca.nrc.cadc.ac.client.GroupAuthorizer</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>obsview</servlet-name>
    <servlet-class>ca.nrc.cadc.caom2.ui.server.Caom2MetaObservationServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>logControl</servlet-name>
    <url-pattern>/logControl</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>obsview</servlet-name>
    <url-pattern>/view/*</url-pattern>
  </servlet-mapping>

  <!-- Define the public security role -->
  <security-role>
    <description>Public security role</description>
    <role-name>public</role-name>
  </security-role>

  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tags/c.tld</taglib-location>
    </taglib>
  </jsp-config>

</web-app>
