#
# This file maps resource identifiers to the location of capability
# information.
#



ivo://cadc.nrc.ca/gms       = http://proxy.cadc.dao.nrc.ca/ac/capabilities
ivo://cadc.nrc.ca/ad        = http://proxy.cadc.dao.nrc.ca/ad/capabilities
ivo://cadc.nrc.ca/caom2ops  = http://proxy.cadc.dao.nrc.ca/caom2ops/capabilities
ivo://cadc.nrc.ca/caom2repo = http://proxy.cadc.dao.nrc.ca/caom2repo/capabilities
ivo://cadc.nrc.ca/cat       = http://proxy.cadc.dao.nrc.ca/cat/capabilities
ivo://cadc.nrc.ca/cred      = http://proxy.cadc.dao.nrc.ca/cred/capabilities
ivo://cadc.nrc.ca/data      = http://proxy.cadc.dao.nrc.ca/data/capabilities
ivo://cadc.nrc.ca/resolver  = http://proxy.cadc.dao.nrc.ca/NameResolver/capabilities
ivo://cadc.nrc.ca/proc      = http://proxy.cadc.dao.nrc.ca/proc/capabilities
ivo://cadc.nrc.ca/sia       = http://proxy.cadc.dao.nrc.ca/sia/capabilities
ivo://cadc.nrc.ca/tap       = http://proxy.cadc.dao.nrc.ca/tap/capabilities
ivo://cadc.nrc.ca/vospace   = http://proxy.cadc.dao.nrc.ca/vospace/capabilities

ivo://oats.inaf.it/gms     = http://vospace-gms.oats.inaf.it/ac/capabilities
ivo://oats.inaf.it/cred    = http://vospace-gms.oats.inaf.it/cred/capabilities
ivo://oats.inaf.it/vospace = http://vospace-gms.oats.inaf.it/vospace/capabilities

# caom2 workshop services
ivo://cadc.nrc.ca/sc2repo  = http://caom2workshop.canfar.net/sc2repo/capabilities
ivo://cadc.nrc.ca/sc2tap   = http://caom2workshop.canfar.net/sc2tap/capabilities
ivo://cadc.nrc.ca/sc2links = http://caom2workshop.canfar.net/sc2links/capabilities
ivo://cadc.nrc.ca/sc2meta  = http://caom2workshop.canfar.net/sc2meta/capabilities
ivo://cadc.nrc.ca/sc2pkg   = http://caom2workshop.canfar.net/sc2pkg/capabilities
ivo://cadc.nrc.ca/sc2soda  = http://caom2workshop.canfar.net/sc2soda/capabilities

