body
{
  /*
  color: white;
  background: black;
  */
  color: black;
  background: white;

  font-family: sans-serif;
  font-size: smaller; /* default looks very large in most browsers */

  margin: 0;
  padding: 0;
  height: 100%;
}

/* PAGE LAYOUT */
div.header
{
  /*
  background: inherit;
  color: inherit;
  */
  background: white;
  color: black;
  margin: 0.5em;
  padding-left: 0;
  padding-right: 0;
  padding-right: 0;
  padding-bottom: 0;
}

div.main
{
  background: white;
  color: black;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-right: 0;
  padding-bottom: 0;
}

div.footer
{
  background: white;
  color: black;
  margin: 0.5em;
  padding: 1em 0 0;
}

table
{
  background: inherit;
  color: inherit;
  font-size: inherit;
  border: 0 none;
  padding: 0;
  margin: 0;
}

span.error
{
    background: red;
    color: black;
    font-weight: bold;
    padding: 4px;
}

/* used for both header and footer horizontal layout */
table.header
{
  width: 100%;
  background: inherit;
  color: inherit;
  border: 0 none;
  padding: 0;
  margin: 0;
}

table.header td
{
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 200%;
  padding: 2px;
}

table.header td.lhs
{
  text-align: left;
}

table.header td.rhs
{
  text-align: right;
}

table.icon td
{
  font-family: sans-serif;
  font-size: 80%;
  text-align: center;
}

table.icon tr
{
  vertical-align: top;
  height: 120px;
}

table.icon img
{
  width: 80px;
  height: 80px;
  padding: 0;
  border: 0;
}

/* used p.navbar or table.navbar for navigation bar horizontal layout */
p.navbar
{
  background: #ccc;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
  /* need to fatten slightly to match table */
  padding: 0.2em;
}

table.navbar
{
  background: #ccc;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
  width: 100%;
  border-spacing: 0.2em;
  border: 0 none;
  padding: 0;
}

table.nav td
{
  text-align: left;
}

table.nav td.lhs
{
  text-align: left;
}

table.navbar td.rhs
{
  text-align: right;
}

div
{
  color: inherit;
  background: inherit;
}

div.box
{
  margin: 1em 1em 0;
}

div.form
{
  padding: 1em;
}

div.table
{
  margin: 2em;
}

div.applet
{
  margin: 2em 0;
  text-align: center;
}

div.hide
{
  display: none;
}

/* special div for putting a 1px black box around something */
div.chunk
{
  background: inherit;
  color: inherit;
  font-size: inherit;
  margin: 2em;
  border: 1px solid black;
  padding: 2px;
}

div.chunk td.img
{
  text-align: center;
}

h1
{
  font-size: 120%;
  font-weight: bold;
  color: inherit;
  background: inherit;
  padding-top: 1em;
  padding-left: 1em;
}

h2
{
  font-size: 100%;
  color: inherit;
  background: inherit;
  padding-top: 1em;
  padding-left: 2em;
}

h3
{
  font-size: 100%;
  color: inherit;
  background: inherit;
  padding-top: 1em;
  padding-left: 2em;
}

/* paragraph styles */
p
{
  color: inherit;
  background: inherit;
  padding: 1em 2em 0;
  margin: 0;
}

pre
{
  color: inherit;
  background: inherit;
  font-family: fixed,sans-serif;
  padding-left: 2em;
  margin-left: 0;
}

p.warn
{
  color: #800;
  background: inherit;
  font-weight: bold;
  padding: 1em 6em;
}

p.quote
{
  color: inherit;
  background: inherit;
  margin-left: 8em;
  margin-right: 8em;
  font-family: inherit;
  font-style: italic;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

ul
{
  margin-left: 3em;
}

ol
{
  margin-left: 3em;
}

li
{
  padding-top: 0.25em;
  padding-bottom: 0.25em;

}

li.warn
{
  color: #800;
  background: inherit;
}

li.deprecated
{
  color: inherit;
  background: #eee;
}

li.proposed
{
  color: inherit;
  background: #eee;
}

li.new
{
  color: inherit;
  background: #eee;
}

/* input fields */
input.args
{
  color: inherit;
  background: #fbb;
  border: 2px black;
}

hr
{
  padding: 0;
  margin: 0;
}

/* default form */
form
{
  padding: 0;
  margin: 0;
}

fieldset.miniform
{
  border: 1px solid;
  width: 37em;
  padding: 0;
  margin: 0 0 1em;
}

legend
{
  font-size: 120%;
  font-weight: bold;
}

legend.miniform
{
  padding: 0 0.5em;
  margin: 0 1em;
  font-size: 120%;
  font-weight: bold;
}

hr.miniform
{
  margin: 1em 2em;
}

p.miniform
{
  color: #800;
  background: inherit;
  font-weight: bold;
  padding: 1em 1em 0;
}

/* TABLES */
table
{
}

th
{
  text-align: center;
}

td
{
  text-align: left;
}

td.primary
{
  font-weight: bold;
}

td.value
{
}

table.form
{
  margin-left: auto; /* center table in enclosing block */
  margin-right: auto; /* center table in enclosing block */
  border-spacing: 0;
  border: 0 none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  empty-cells: show;
}

table.form td
{
  /*width: 175px;*/
  text-align: center;
  border: 1em solid white;
  /*background: #ccc;*/
}

table.content
{
  font-family: monospace;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  empty-cells: show;
}

table.content th
{
  background: #bfccd9;
  color: black;
  text-align: center;
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table.content td
{
  border: 0 solid;
  vertical-align: top;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

tr.odd_b td
{
  border: 1px solid;
  vertical-align: top;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

tr.even_b td
{
  border: 1px solid;
  vertical-align: top;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table.content tr.odd
{
  background: white;
}

table.content tr.even
{
  background: #ddd;
}

table.content tr.subhead
{
  background: #bfccd9;
}

table.content tr.odd_b
{
  background: white;
}

table.content tr.even_b
{
  background: #ddd;
}

table.content tr.subhead
{
  background: #bfccd9;
}

img
{
  border: 0 none;
}

a:link
{
  color: #008;
  background: inherit;
  text-decoration: none;
  font-weight: inherit;
}

a:visited
{
  color: #008;
  background: inherit;
  text-decoration: none;
  font-weight: inherit;
}

a:active
{
  color: #008;
  background: inherit;
  text-decoration: none;
  font-weight: inherit;
}

a:hover
{
  /*text-decoration: underline;*/
  color: #33f;
}

/* special link style that looks like a rectangular button */
a.button
{
  background: inherit;
  color: inherit;
  font-size: inherit;
  border: 1px solid black;
  padding: 2px;
}

/* temporary styles introduced for eventLog - These need to be standardized.*/
.odd
{
  background: #ccc;
}

.even
{
  background: white;
}

.right
{
  text-align: right;
}

.left
{
  text-align: left;
}

.error
{
  color: red;
  font-family: 'New Century Schoolbook', serif;
  font-style: oblique;
}

.OLA_disclaimer
{
  font-size: 12px;
  font-style: italic;
  text-align: left;
  margin: 5px auto 3px auto;
  width: 80%;
}

div.about_container
{
  display: block;
  clear: both;
  background-color: white;
  width: 940px;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

div.about_text
{
  width: 80%;
  text-align: left;
  margin: auto;
}

h2.about
{
  padding: 0;
}

span.strong
{
  font-weight: bold;
}

span.mandate_text
{
  font-style: italic;
}

ul.mandate_items
{
  margin-left: -20px;
  text-align: left;
  list-style: inherit;
}

div.contact
{
  display: block;
  clear: both;
  margin-left: 10px;
}
