<?xml version="1.0" encoding="UTF-8"?>

<!--
************************************************************************
*******************  CANADIAN ASTRONOMY DATA CENTRE  *******************
**************  CENTRE CANADIEN DE DONNÉES ASTRONOMIQUES  **************
*
*  (c) 2016.                            (c) 2016.
*  Government of Canada                 Gouvernement du Canada
*  National Research Council            Conseil national de recherches
*  Ottawa, Canada, K1A 0R6              Ottawa, Canada, K1A 0R6
*  All rights reserved                  Tous droits réservés
*
*  NRC disclaims any warranties,        Le CNRC dénie toute garantie
*  expressed, implied, or               énoncée, implicite ou légale,
*  statutory, of any kind with          de quelque nature que ce
*  respect to the software,             soit, concernant le logiciel,
*  including without limitation         y compris sans restriction
*  any warranty of merchantability      toute garantie de valeur
*  or fitness for a particular          marchande ou de pertinence
*  purpose. NRC shall not be            pour un usage particulier.
*  liable in any event for any          Le CNRC ne pourra en aucun cas
*  damages, whether direct or           être tenu responsable de tout
*  indirect, special or general,        dommage, direct ou indirect,
*  consequential or incidental,         particulier ou général,
*  arising from the use of the          accessoire ou fortuit, résultant
*  software.  Neither the name          de l'utilisation du logiciel. Ni
*  of the National Research             le nom du Conseil National de
*  Council of Canada nor the            Recherches du Canada ni les noms
*  names of its contributors may        de ses  participants ne peuvent
*  be used to endorse or promote        être utilisés pour approuver ou
*  products derived from this           promouvoir les produits dérivés
*  software without specific prior      de ce logiciel sans autorisation
*  written permission.                  préalable et particulière
*                                       par écrit.
*
*  $Revision: 4 $
*
************************************************************************
-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

  <display-name>Advanced Search</display-name>

  <filter>
    <filter-name>WebAccessControlFilter</filter-name>
    <filter-class>ca.nrc.cadc.web.WebAccessControlFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>WebAccessControlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--
    To make sure the logging level gets set before any
    logging gets done, set load-on-startup to a smaller
    whole number than is used for any other servlet
    in this webapp.  This assumes Tomcat 7.0 or later.

    Uncomment this for debugging.
    Don't forget to create a groupAuthorizer (Not included).
  -->
  <!--<servlet>-->
    <!--<servlet-name>logControl</servlet-name>-->
    <!--<servlet-class>ca.nrc.cadc.log.LogControlServlet</servlet-class>-->
    <!--<init-param>-->
      <!--<param-name>logLevel</param-name>-->
      <!--<param-value>info</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>logLevelPackages</param-name>-->
      <!--<param-value>-->
        <!--ca.nrc.cadc.uws-->
        <!--ca.nrc.cadc.tap-->
        <!--ca.nrc.cadc.vosi-->
        <!--ca.nrc.cadc.search-->
        <!--ca.nrc.cadc.caom2-->
      <!--</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>logAccessGroup</param-name>-->
      <!--<param-value>CADC</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>groupAuthorizer</param-name>-->
      <!--<param-value>ca.nrc.cadc.auth.CADCGroupAuthorizer</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->

  <!-- AdvancedSearch Servlet -->
  <servlet>
    <servlet-name>SearchJobServlet</servlet-name>
    <servlet-class>ca.nrc.cadc.web.SearchJobServlet</servlet-class>
    <init-param>
      <param-name>ca.nrc.cadc.uws.server.JobManager</param-name>
      <param-value>ca.nrc.cadc.uws.SearchJobManager</param-value>
    </init-param>
    <init-param>
      <param-name>ca.nrc.cadc.uws.web.InlineContentHandler</param-name>
      <param-value>ca.nrc.cadc.uws.SearchInlineContentHandler</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>CAOM2Servlet</servlet-name>
    <servlet-class>ca.nrc.cadc.caom2.CAOM2Servlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TAPServlet</servlet-name>
    <servlet-class>ca.nrc.cadc.tap.TAPServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>QuickSearchServlet</servlet-name>
    <servlet-class>ca.nrc.cadc.search.QuickSearchServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <description>Servlet to convert units and return the search value.
    </description>
    <servlet-name>UnitConversionServlet</servlet-name>
    <servlet-class>ca.nrc.cadc.search.UnitConversionServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Preview Servlet -->
  <servlet>
    <servlet-name>PreviewServlet</servlet-name>
    <servlet-class>ca.nrc.cadc.search.PreviewServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <!-- Column Unit handling Servlet -->
  <servlet>
    <servlet-name>ColumnUnitServlet</servlet-name>
    <servlet-class>ca.nrc.cadc.search.ColumnUnitServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>PackageServiceServlet</servlet-name>
    <servlet-class>ca.nrc.cadc.search.PackageServlet</servlet-class>
  </servlet>

  <!-- Form Validation Servlet -->
  <servlet>
    <servlet-name>FormValidationServlet</servlet-name>
    <servlet-class>ca.nrc.cadc.search.FormValidationServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <!-- map symbolic names to JSP pages explicitly -->
  <servlet>
    <servlet-name>doc</servlet-name>
    <jsp-file>/doc.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>hierarchy</servlet-name>
    <jsp-file>/hierarchy.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>hierarchyError</servlet-name>
    <jsp-file>/hierarchyError.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>number</servlet-name>
    <jsp-file>/number.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>text</servlet-name>
    <jsp-file>/text.jsp</jsp-file>
  </servlet>


  <!-- URL-to-servlet mapping -->

  <!--<servlet-mapping>-->
    <!--<servlet-name>logControl</servlet-name>-->
    <!--<url-pattern>/logControl</url-pattern>-->
  <!--</servlet-mapping>-->
  <servlet-mapping>
    <servlet-name>doc</servlet-name>
    <url-pattern>/doc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hierarchy</servlet-name>
    <url-pattern>/hierarchy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hierarchyError</servlet-name>
    <url-pattern>/hierarchyError</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>number</servlet-name>
    <url-pattern>/number</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>text</servlet-name>
    <url-pattern>/text</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PreviewServlet</servlet-name>
    <url-pattern>/preview/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ColumnUnitServlet</servlet-name>
    <url-pattern>/columnUnit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PackageServiceServlet</servlet-name>
    <url-pattern>/package</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SearchJobServlet</servlet-name>
    <url-pattern>/find/*</url-pattern>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TAPServlet</servlet-name>
    <url-pattern>/tap/*</url-pattern>
    <url-pattern>/tap</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CAOM2Servlet</servlet-name>
    <url-pattern>/caom2ui/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>QuickSearchServlet</servlet-name>
    <url-pattern>/quick/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>QuickSearchServlet</servlet-name>
    <url-pattern>/rapide/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UnitConversionServlet</servlet-name>
    <url-pattern>/unitconversion/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FormValidationServlet</servlet-name>
    <url-pattern>/validate/*</url-pattern>
  </servlet-mapping>

  <!-- Define the public security role -->
  <security-role>
    <description>Public security role</description>
    <role-name>public</role-name>
  </security-role>
  
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tags/c.tld</taglib-location>
    </taglib>

    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tags/fmt.tld</taglib-location>
    </taglib>
  </jsp-config>

  <!-- Define a security constraint for 'auth' -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>auth</web-resource-name>
      <description/>
      <url-pattern>/logControl/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>force authentication for all requests</description>
      <role-name>public</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Canadian Astronomy Data Centre</realm-name>
  </login-config>

</web-app>
