/* Custom for CADC */

html
{
  overflow-y: inherit;
}

/* Span centering. */
.span-center
{
  margin: 0 auto;
  display: block;
  float: none;
}

input.form-input-inline, select.form-input-inline
{
  display: inline !important;
}

/* Span containing the link data. */
span.lang-link-target
{
  display: none;
}

/* Archive banner text. */
div.archive-logo-banner
{
  margin-top: 25px;
  font-size: 3.3em;
  font-weight: bolder;
  vertical-align: middle;
}

img.archive-banner-logo
{
  width: 70px;
  height: 70px;
}

img.archive-thumbnail
{
  margin: auto;
  width: 60px;
  height: 60px;
  border: none;
  display: block;
  clear: both;
  /*margin: auto;*/
}

div.profile_modal
{
  position: absolute;
  padding: 10px;
  text-align: center;
  color: #efefef;
  border-radius: 0.8em;
  border-color: #001D45;
  background-color: #23447e;
  opacity: 0.8;
  width: 200px;
  height: auto;
  display: none;
}

div.profile_modal, .access_control_logout.cancel
{
  /*font-size: 75%;*/
  z-index: 1000000;
}

.errorContainer a
{
  color: #c00;
}


/* For megamenu spacing */

div.mb-sm-open
{
  font-size: 85%;
}

div.mb-sm-open a
{
  padding-bottom: 0.35em !important;
  padding-top: 0.35em !important;
}

/* Remove link styling on menu subheaders */
.mb-menu h4 a:link
{
  text-decoration: none !important;
  cursor: default;
}

/* Fix for fieldset not displaying in IE7 */
.ie7 legend
{
  border-bottom: 1px solid #CCC;
  display: inline-block !important;
}

/* Display an image and h2 inline */
h2.display-inline
{
  display: inline;
}

/* Disable the weird outline. */
div[role=tabpanel]:focus
{
  outline: none;
}

a[role=tab]:focus
{
  outline: none;
}

.form-attention input.search_criteria_input
{
  border-width: 0.2em;
}

form.advanced_search_form input:disabled
{
  color: #FFFFFF;
  border: 1px solid #f0eed9;
  background-color: #cccccc;
}

form.advanced_search_form input:disabled:hover
{
  background: #cccccc;
}

.modelDataSource_obscore .advanced_search_hierarchy_select_div
{
  width: 20%;
}

.modelDataSource_caom2 .advanced_search_hierarchy_select_div
{
  width: 14%;
}

/* End disable outlines */

/* List styling */
/** Screen-only CSS **/
@media screen
{
  .ui-autocomplete
  {
    max-height: 24.0em;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index: 1000 !important;
  }

  .cadc_aside_list_box ul li
  {
    background-color: #eee;
    padding: 5px 10px;
    margin-bottom: 2px;
    margin-left: 5px;
  }

  .cadc_font_blue
  {
    margin: 5px;
    color: #069;
    padding-bottom: 10px;
  }

  .bold_text
  {
    font-weight: bold !important;
  }

  input[type="checkbox"].checkbox_align
  {
    vertical-align: middle;
  }

  /* Increase the h1 titles */
  h1.page_content_title
  {
    font-size: 2.5em;
  }

  .wb-icon-busy
  {
    background-size: 16px 16px;
    background-image: url("./images/busy.gif");
  }

  /* Table centering. */

  table.center
  {
    margin-left: auto;
    margin-right: auto;
  }

  /* Button centering */

  div.centre
  {
    text-align: center;
  }

  /*  Override left menu removal of external link icon.  */
  #wb-sec [rel="external"]
  {
    display: inline-block;
    padding-right: 20px;
    background: url(/wet/grids/images/wb-icon/external.png) 100% 0 no-repeat;
  }

  .mb-menu li.float-right
  {
    border-right: 1px solid #575;
    border-left: 1px solid #999;
  }
}

/* horizontal scroll */
.wmd-view-topscroll, .wmd-view
{
    overflow-x: auto;
    overflow-y: hidden;

}

.wmd-view-topscroll
{
    height: 16px;
}

.dynamic-div
{
    display: inline-block;
}

form#chpassForm
{
  margin-left: 10px;
}
